In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [25]:
df = pd.read_csv('tested.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age
0,892,0,3,"Kelly, Mr. James",male,34.5
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0
3,895,0,3,"Wirz, Mr. Albert",male,27.0
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0

In [26]:
df.isna().sum()

PassengerId     0
Survived        0
Pclass          0
Name            0
Sex             0
Age            61
dtype: int64

In [27]:
df.index

RangeIndex(start=0, stop=418, step=1)

In [28]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age'], dtype='object')

In [29]:
df.shape

(418, 6)

In [30]:
df.dropna(inplace=True)

In [31]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age
0,892,0,3,"Kelly, Mr. James",male,34.5
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0
3,895,0,3,"Wirz, Mr. Albert",male,27.0
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0
...,...,...,...,...,...,...
409,1301,1,3,"Peacock, Miss. Treasteall",female,3.0
411,1303,1,1,"Minahan, Mrs. William Edward (Lillian E Thorpe)",female,37.0
412,1304,1,3,"Henriksson, Miss. Jenny Lovisa",female,28.0
414,1306,1,1,"Oliva y Ocana, Dona. Fermina",female,39.0
415,1307,0,3,"Saether, Mr. Simon Sivertsen",male,38.5

In [32]:
df.isna().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
dtype: int64

In [35]:
X = df.drop(['PassengerId','Survived'],axis=1)
X

     Pclass                                             Name     Sex   Age
0         3                                 Kelly, Mr. James    male  34.5
1         3                 Wilkes, Mrs. James (Ellen Needs)  female  47.0
2         2                        Myles, Mr. Thomas Francis    male  62.0
3         3                                 Wirz, Mr. Albert    male  27.0
4         3     Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female  22.0
..      ...                                              ...     ...   ...
409       3                        Peacock, Miss. Treasteall  female   3.0
411       1  Minahan, Mrs. William Edward (Lillian E Thorpe)  female  37.0
412       3                   Henriksson, Miss. Jenny Lovisa  female  28.0
414       1                     Oliva y Ocana, Dona. Fermina  female  39.0
415       3                     Saether, Mr. Simon Sivertsen    male  38.5

[357 rows x 4 columns]

In [36]:
y = df.Survived

In [37]:
y

0      0
1      1
2      0
3      0
4      1
      ..
409    1
411    1
412    1
414    1
415    0
Name: Survived, Length: 357, dtype: int64

In [40]:
from sklearn.preprocessing import LabelEncoder

In [42]:
le_name = LabelEncoder()
le_sex =  LabelEncoder()

In [44]:
X['name_n']=le_name.fit_transform(X['Name'])
X['sex_n']=le_sex.fit_transform(X['Sex'])
X

,Pclass,Name,Sex,Age,name_n,sex_n
0,3,"Kelly, Mr. James",male,34.5,192,1
1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,343,0
2,2,"Myles, Mr. Thomas Francis",male,62.0,237,1
3,3,"Wirz, Mr. Albert",male,27.0,348,1
4,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,167,0
...,...,...,...,...,...,...
409,3,"Peacock, Miss. Treasteall",female,3.0,258,0
411,1,"Minahan, Mrs. William Edward (Lillian E Thorpe)",female,37.0,232,0
412,3,"Henriksson, Miss. Jenny Lovisa",female,28.0,162,0
414,1,"Oliva y Ocana, Dona. Fermina",female,39.0,246,0
415,3,"Saether, Mr. Simon Sivertsen",male,38.5,286,1

In [45]:
X_n = X.drop(['Name','Sex'],axis=1)
X_n

     Pclass   Age  name_n  sex_n
0         3  34.5     192      1
1         3  47.0     343      0
2         2  62.0     237      1
3         3  27.0     348      1
4         3  22.0     167      0
..      ...   ...     ...    ...
409       3   3.0     258      0
411       1  37.0     232      0
412       3  28.0     162      0
414       1  39.0     246      0
415       3  38.5     286      1

[357 rows x 4 columns]

In [46]:
y

0      0
1      1
2      0
3      0
4      1
      ..
409    1
411    1
412    1
414    1
415    0
Name: Survived, Length: 357, dtype: int64

In [47]:
from sklearn.model_selection import train_test_split

In [48]:
X_n_train,X_n_test,y_train,y_test = train_test_split(X_n,y,test_size=0.2)

In [50]:
len(X_n_train)

285

In [51]:
len(X_n_test)

72

In [52]:
from sklearn import tree

In [53]:
model = tree.DecisionTreeClassifier()
model

DecisionTreeClassifier()

In [54]:
model.fit(X_n_train,y_train)

DecisionTreeClassifier()

In [55]:
model.score(X_n_test,y_test)

1.0

In [56]:
model.predict([[3,34.5,192,1]])

C:\Program Files\Python311\Lib\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([0], dtype=int64)

In [57]:
model.predict([[3,22.0,167,0]])

C:\Program Files\Python311\Lib\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([1], dtype=int64)